<!DOCTYPE html>
<html lang="en">
<br>
    <meta charset="UTF-8">
    <title>Search Books</title>
        <form action="{{ url_for('search') }}" method="post">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Search for books using title, authors, publisher, or language" name="search" required>
                <button class="btn">Search</button>
            </div>
        </form>
        </section>
            <br>
            <div>
                <ul>
                    {% if no_books %}
                        <h4 class="text-danger text-center">No matching result!</h4>
                    {% else %}
                        {% for book in books %}
                            <li><a href="{{ url_for('book', ISBN=ISBN) }}">{{book.title}}, {{book.authors}}, {{ book.publisher }},{{ book.language }}.</a></li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
</form>
</head>
</html>